
/*

#root {
   
    margin: 0 auto;
    width: 84%;
}





@media (max-width: 991.9px) {
    
    #root  {
        width: 100%; 
        margin: 0; 
    }
}


body {
    background-image: url('/images/bg2.jpg');


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

#intro {
    
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

#titull {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #0F4D4A
}
#knowmore {
    background-color:#0F4D4A;
}

#shiny-button {
    background: linear-gradient(90deg, #4b6cb7, #182848, #34e89e, #0f3443);
    background-size: 300%;
    color: white;
    border: none;
    transition: background-position 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
}

#shiny-button:hover {
    background-position: right;
}

#shiny-button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.5s ease;
}

#shiny-button:hover::before {
    opacity: 1;
    top: -50%;
    left: 150%;
    transition: opacity 0.5s ease, left 1s ease;
}


#knowmore:hover {
    background-color:#14615d;
}


#zagolovok {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}


@media (max-width: 950px) { 


    #zagolovok { font-size: 1.1em;
    }

}


@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik.ttf') format('truetype');
}

.corpo {
    background-color: #f9f9f9;
    margin: 0 auto;
    min-height: 100vh;
}

.ylinsta {
    display: flex;
    align-items: center;
    
    background: linear-gradient(45deg, #c13584, #f56040);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
   
}

.ylinsta i {
    font-size: 24px;
    margin-right: 10px;
}

.ylinsta span {
    font-size: 16px;
}

.ylinsta:hover {
    background: linear-gradient(45deg, #f56040, #c13584);
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
    width: 100%;
    background-color: #232528; /* Dark background color */
    color: #ffffff; /* White text color */
}


/*SPECIAL EVENT EVENTS:JSX*/

#specialEvent {
    background: linear-gradient(to right, #ffefc1, #ffd700); /* Градиентный фон для выделения */
    color: #d44; /* Цвет текста */
    font-weight: bold; /* Полужирное начертание шрифта */
  }
  
  
  /* Добавим немного теней для лучшего выделения */
  #specialEvent {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }