.square {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
  }
  
  .img-cropped {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  